* {
    margin: 0;
    padding: 0;
}
/* header section starts */

.menu-container {
    background-color: rgb(44, 42, 42);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo {
    padding: 20px;
    cursor: pointer;
}
.logo-image {
    width: 150px;
}
.menu {
    list-style: none;
    display: flex;
}
.item {
    margin: 15px;
    padding: 5px;
    font-size: 18px;
}
.item:hover {
    color: aqua;
    cursor: pointer;
}

/* banner section starts */

.banner-container {
    background-image: url("images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-title {
    font-size: 55px;
    margin-bottom: 15px;
    font-weight: bold;
}
.banner-text {
    font-size: 18px;
    margin-bottom: 15px;
}
.btn-banner {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
}
.banner-img {
    width: 300px;
}

/* about as section starts */

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.about-title {
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
}
.about-img {
    width: 300px;
}
.about-text-title {
    margin-bottom: 10px;
}
.btn-about {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
}
